<body class="successPage">
  {{> header}}

  <main>
      <h2>Thanks {{customer.firstname}} {{customer.lastname}}!</h2>
      <h3>You've successfully placed {{customer.orders.length}} orders</h3>
      <p>You can visit our <a href="/shop"> store </a>for new designs</p>
  </main>
</body>