<body class="shopPage">
    {{> header}}

    <main>
      {{#each products }}
        <article>
            <a href="/product/{{this.id}}">
              <h2>{{this.name}}</h2>
              <h3>{{this.price}}</h3>
            </a>
          </article>  
      {{/each}}
    </main>

    <footer>
        <h2>Shop</h2>
    </footer>
</body>

