  <header>
    <h1><a href="/">ShirtDesigns</a></h1>

    <nav>
      <ul>
        <li><a href="/shop">shop</a></li>
        <li>
          <a href="/cart" style="font-size: 0;"> cart
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.279 32C12.721 32 13.89 30.7811 13.89 29.2775C13.89 27.7738 12.721 26.5549 11.279 26.5549C9.83696 26.5549 8.66797 27.7738 8.66797 29.2775C8.66797 30.7811 9.83696 32 11.279 32Z" fill="black"/>
              <path d="M24.8561 32C26.2981 32 27.4671 30.7811 27.4671 29.2775C27.4671 27.7738 26.2981 26.5549 24.8561 26.5549C23.4141 26.5549 22.2451 27.7738 22.2451 29.2775C22.2451 30.7811 23.4141 32 24.8561 32Z" fill="black"/>
              <path d="M31.7492 4.11028C31.6519 3.97849 31.5269 3.87169 31.3839 3.79807C31.2409 3.72445 31.0836 3.68596 30.9241 3.68556H6.79834L6.32836 2.12827C6.27674 1.96106 6.18708 1.80935 6.06706 1.68609C5.94703 1.56283 5.80018 1.47168 5.63906 1.42041L1.357 0.0482472C1.22533 0.00605875 1.08699 -0.00867527 0.949858 0.00488676C0.81273 0.0184488 0.679506 0.0600411 0.557794 0.127289C0.311985 0.263102 0.127985 0.495171 0.046272 0.772443C-0.035441 1.04971 -0.00817342 1.34948 0.122076 1.60579C0.252325 1.8621 0.474887 2.05395 0.740801 2.13916L4.49021 3.33708L9.27358 19.0951L7.5712 20.5544L7.43543 20.696C7.01443 21.2043 6.77591 21.8494 6.76066 22.5208C6.74542 23.1923 6.95441 23.8484 7.35188 24.3769C7.63654 24.7378 7.99827 25.0243 8.40812 25.2134C8.81798 25.4025 9.26459 25.489 9.71223 25.4659H27.1433C27.4203 25.4659 27.686 25.3511 27.8818 25.1469C28.0777 24.9427 28.1877 24.6657 28.1877 24.3769C28.1877 24.088 28.0777 23.811 27.8818 23.6068C27.686 23.4026 27.4203 23.2879 27.1433 23.2879H9.54513C9.42486 23.2836 9.30769 23.247 9.20492 23.1817C9.10216 23.1164 9.01728 23.0246 8.95848 22.9151C8.89968 22.8057 8.86896 22.6822 8.86927 22.5567C8.86958 22.4313 8.90092 22.308 8.96026 22.1988L11.4773 20.0208H27.5924C27.831 20.0281 28.0648 19.9499 28.2548 19.7993C28.4448 19.6487 28.5797 19.4348 28.6368 19.1932L31.9789 5.03594C32.0107 4.87359 32.0065 4.70582 31.9667 4.54541C31.9269 4.385 31.8525 4.23618 31.7492 4.11028V4.11028Z" fill="black"/>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </header>